html {
    height: 100%;
}

body {
    font-family: "IBM Plex Mono", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc0ad;
}

.resolucion {
    width: 100%;
}

/*Estilos para header*/
.header{
    background-color: #271c19;
}

.Header_Button{
    background-color: #55423d;
    border-color: #55423d;
    font-family: "IBM Plex Mono", sans-serif;
    color: #fff3ec;
    border-radius: 5px;
    border-style: solid;
    transition: background-color 0.5s ease;
    transition: color 0.4s ease;
}

.Header_Button:hover {
    background-color: #e78fb3;
    color: #140d0b;
}

/*Estilos para la seccion de enmedio*/
.section {
    background-color: #9656a1;
}

/*Estilos para la seccion principal*/
.main {
    background-color: #55423d;
}

/*Estilos para footer*/
.footer {
    background-color: #271c19;
}

/*Ajustar estructura de acuerdo al dispositivo*/  
/*@media (min-width: 1024px) {*/

    /*Estilos para header*/
    .header {
        min-height: 121.59px;
        height: 16.666vh;
        display: flex;
        align-items: center;
    }
    
    .Foto_Perfil {
        height: 10.5vh;
        margin-left: 2.5vw;
        min-height: 76.6px;
    }

    .Header_Button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15vw;
        min-width: 177.6px;
        height: 6.3vh;
        margin-left: 2.5vw;
        font-size: 150%;
        min-height: 45.96px;
    }

    /*Estilos para la seccion de enmedio*/ 
    .Seccion_Central {
        height: 50vh;
        width: 100%;
        min-height: 364.8px;
        overflow: hidden;
    }

    .Slider {
        position: relative;
        margin: 0;
        left: 0;
        border: 0;
        width: 400%;
        height: 100%;
        animation: 15s slider infinite;
    }

    .Imagen_Seccion_Central {
        object-fit: contain;
        float: left;
        width: 25%;
        height: 100%;
    }

    @keyframes slider {
        0%{
            left: 0;
        }
        16.66%{
            left: 0;
        }
        33.33%{
            left: -100%;
        }
        50%{
            left: -100%;
        }
        66.66%{
            left: -200%;
        }
        75%{
            left: -200%;
        }
        100% {
            left: -300%;
        }
    }

    .imagen1 {
        background-color: #271C19;
    }

    .imagen2 {
        background-color: #55423D;
    }

    .imagen3 {
        background-color: #9656A1;
    }

    /*Estilos para la seccion de enmedio*/ 
    .main {
        height: fit-content;
        background-color: #ffc0ad;
    }

    .Seccion_Main {
        margin: 0;
        width: 100%;
        margin-bottom: 10vh;
    }

    .Imagen_Main {
        width: 25vw;
        min-width: 365.88px;
        padding: 2.5vw;
        float: left;
        margin-left: 0;
    }

    .Imagen_Main_Derecha {
        width: 25vw;
        min-width: 365.88px;
        padding: 2.5vw;
        float: right;
        margin-left: 0;
    }

    .Subtitulo {
        height: fit-content;
        color: #271c19;
        font-size: 3vw;
        margin: 0;
        padding-top: 1.5vw;
        margin-left: 2.5vw;
    }

    .Parrafo {
        padding-right: 2.5vw;
        margin-left: 2.5vw;
        color: #271c19;
        font-size: 20px;
    }

    .Link {
        padding-right: 2.5vw;
        margin-left: 2.5vw;
        color: #9656a1;
        font-size: 2vw;
    }

    /*Estilos para footer*/
    .footer {
        min-height: 121.59px;
        height: 16.666vh;
    }

    /*}*/
/* oye cada vez que uno sale pide que se guarde 
pero cada vez que se uno edita el archivo cambia 
entonces uno de los dos va a tener que tenerlo en 
su dispositivo y tener que mandar le link despues? q*/
