html {
    font-family: 'montserrat', sans-serif;
}

body {
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: #150e30;
    color: white;
    margin: 0;
    padding: 3%;
    text-align: center;
}

#titulo {
    margin: 0;
}

img {
    width: 100%;
}

.post {
    transition: box-shadow 0.3s ease;
    display: inline-block;
    margin: 2% 0% 2% 10%;
    height: 10%;
    width: 20%;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;

}

.post:hover {
    box-shadow: 0 0 1rem gray;
}

.post h2, .post h4, .post p {
    margin: 0;
    padding: 5%;
}

footer {
    background-color: #150e30;
    color: white;
    margin: 0;
    padding: 2.5%;
}

footer p {
    margin: 0;
    display: inline;
}

footer a:link {
    float: right;
    color: white;
}

footer a:visited {
    color: white;
}