html{
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #65B741;
    height: 79%;
    max-height: 100%;
}

main {
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FBF6EE;
    width: 70%;
    height: 90%;
    border-radius: 20px;
}

#instruction {
    color: #527853;
    padding-top: 5%;
    font-size: 300%;
}

section {
    position: relative;
    top: -50%;
    display: inline-block;
    color: #FBF6EE;
    background-color: #527853;
    width: 45%;
    padding: 1%;
    font-size: 175%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-color: #C1F2B0;
    border-style: solid;
}

form {
    display: inline;
}

#textInput {
    font-family: 'Nunito', sans-serif;
    font-size: 175%;
    padding: 1%;
    position: relative;
    float: top;
    top: -3%;
    margin-left: 5%;
    width: 44%;
    height: 50%;
    background-color: #C1F2B0;
    border-color: #527853;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    resize: none;
}

#check {
    font-family: 'Nunito', sans-serif;
    font-size: 250%;
    position: relative;
    left: 15%;
    top: 5%;
    width: 70%;
    height: 15%;
}